<section layout="row" flex>
    <md-sidenav flex="20" class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-disable-backdrop>
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Admin Panel</h1>
        </md-toolbar>
        <md-content>
            <md-list>
                <div ng-repeat="item in sidebar">
                    <md-list-item class="" ng-click="gotoState(item.state)">
                        <div class="md-list-item-text" layout="column">
                            <p>{{ item.name }}</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content layout-padding flex="80">
        <ui-view/>
    </md-content>
</section>
