<div class="g-signin2" data-onsuccess="onSignIn"></div>

<div layout="row" ng-style="{'height':height+'%'}" layout-align="center center">
    <!-- <input ng-model="query" type="text"> -->
    <form ng-submit="search(searchText)">
        <md-autocomplete focus="true" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item.display" md-min-length="0">
            <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
            </md-item-template>
        </md-autocomplete>
    </form>
    <!-- <md-button class="md-raised md-primary" ng-click="login()">Search</md-button> -->
</div>
<div layout="row">
    <md-list flex>
        <div ng-repeat="result in results" ng-show="results">
            <md-list-item class="md-3-line" ng-click="showDetails(result)">
                <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /> -->
                <div class="md-list-item-text" layout="column">
                    <h3>{{ result._source.title | titlecase | limitTo:150}}</h3>
                    <h4 ng-show="result._source.courtName">{{ result._source.courtName | titlecase}} - {{ result._source.dateOfDecision | date:'MMMM dd, yyyy'}} </h4>
                    <p ng-show="result._source.shortDescription">{{ result._source.shortDescription | limitTo:150}}...</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-list>
</div>
